<p id="notice"><%= notice %></p>

<h1>Listings</h1>

<table class="table">
  <thead>
    <tr>
      <th>Property</th>
      <th>Property type</th>
      <th>Price</th>
      <th>No of rooms</th>
      <th>No of bathrooms</th>
      <th>Description</th>
      <th>House Rules</th>
      <th>Owned by</th>
      <th>Action</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @listings.each do |listing| %>
      <tr>
        <td><%= listing.title %></td>
        <td><%= listing.property_type %></td>
        <td>RM <%= listing.price %> / night</td>
        <td><%= listing.num_of_rooms %></td>
        <td><%= listing.no_of_bathrooms %></td>
        <td><%= listing.description %></td>
        <td><%= listing.house_rules %></td>
        <td><%= listing.user.first_name + " " + listing.user.last_name %></td>
        <td><%= link_to 'Show', listing %></td>
        <% if current_user == listing.user %>
        <td><%= link_to 'Edit', edit_listing_path(listing) %></td>
        <td><%= link_to 'Delete', listing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
        <% if current_user.superadmin? %>
        <td><%= link_to 'Verify', verify_listing_path(listing) %></td>
        <% end %>
      <% end %>
      </tr>
  </tbody>
</table>

<%= paginate @listings %>

<br>

<%= link_to 'New Listing', new_listing_path %>
