<%= form_for booking, url: listing_bookings_path(@listing) do |form| %>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h5>Book this listing</h5>
  <br>
  <div class="booking">
    <%= form.label :no_of_guests %>
    <%= form.text_field :no_of_guests, id: :booking_no_of_guests %>
  </div>
  <br>
  <div class="booking">
    <%= form.label :start_date %>
    <%= form.date_field :start_date, id: :booking_start_date %>
  </div>
  <br>
  <div class="booking">
    <%= form.label :end_date %>
    <%= form.date_field :end_date, id: :booking_end_date %>
  </div>

  <br>
  <div class="actions">
    <%= form.submit class: 'btn btn-outline-dark' %>
  </div>
<% end %>
