<!-- <p id="notice"><%#= notice %></p> -->

<!-- <h1>Bookings</h1> -->

<div class="pt-7">
  <br>
  <!-- <br><br> -->
  <h2>My Bookings</h2>
  <table class="table">
    <tr>
      <th>Listing Title</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>No of Guests</th>
      <th>Total Prices</th>
      <th></th>
      <th>Actions</th>
      <th></th>
    </tr>

    <% @bookings.each do |booking| %>
    <tr>
      <td><%= link_to booking.listing.title, booking.listing %></td>
      <td><%= booking.start_date.strftime('%d %B %Y') %></td>
      <td><%= booking.end_date.strftime('%d %B %Y') %></td>
      <td><%= booking.no_of_guests %></td>
      <td>RM <%= booking.total_price %></td>
      <td><%= link_to 'Show', booking %></td>
      <td><%= link_to 'Edit', edit_booking_path(booking) %></td>
      <td><%= link_to 'Delete', booking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>

  </table>
</div>

<%= link_to 'Create New Booking', new_booking_path %>
