<div id="clearance" class="sign-up">

  <h2><%= t(".title") %></h2>
  <div class="pt-4">
  <%= form_for @user do |form| %>
    <%= render partial: '/users/form', object: form %>

    <div class="submit-field">
      <%= form.submit class: 'btn btn-outline-dark'%>
    </div> 

    <div class="other-links mt-3">
      Sign up with
        <%= link_to "Facebook", "/auth/facebook", id: "sign_in" %> or
        <%= link_to "Google", "/auth/google_oauth2", id: "sign_in" %> |
      <%= link_to t(".sign_in"), sign_in_path %>
    </div>
  
  <% end %>
  </div>
</div>