<!DOCTYPE html>
<html>
<html lang="en">
<head>
  <title>My AirBnB</title>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- BOOTSTRAP CSS --> 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">


  
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>


  <%= javascript_include_tag 'application' %>
  <%#= stylesheet_link_tag 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="header" class ="container">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <!-- Just an image -->
      <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/">
          <%= image_tag 'airbnb.png', alt: 'AirBnb logo', height: 40, width: 40 %>
        </a>
      </nav>

      <!-- <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Become a host</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Help</a>
          </li>
          <li class="nav-item active dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Log In
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item"><%= link_to "Log In with Facebook", "/auth/facebook" %></a>
              <a class="dropdown-item"><%= link_to "Log In with Google", "/auth/google_oauth2"%></a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="<%= sign_in_path %>">More Login Options</a>
            </div>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="<%= sign_up_path %>">Sign Up</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>





    <%= link_to "Home", "/" %>
    <% if signed_in? -%>
      <%= link_to "Trips", "#" %>
      <%= link_to "Messages", "#" %>
      <%= link_to "Help", "#" %>
      <%= link_to t(".sign_out"), sign_out_path, method: :delete %>
      Logged in as <%= link_to "#{current_user.first_name}", user_path(current_user) %> 
    <% else -%>
      <%= link_to "Become a host", "#" %>
      <%= link_to "Help", "#" %>
      <%= link_to t(".sign_up"), sign_up_path %>
      <%= link_to t(".sign_in"), sign_in_path %>
    <% end -%>
  </div>

  <div id="flash">
    <% flash.each do |key, value| -%>
      <div id="flash_<%= key %>"><%=h value %></div>
    <% end %>
  </div>
  <%= yield %>
</body>
</html>
