<!DOCTYPE html>
<html>
<html lang="en">
<head>
  <title>My Airbnb</title>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- BOOTSTRAP CSS --> 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

  <%= favicon_link_tag ‘airbnb.ico’ %>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

  <!-- Load the Client component. -->
  <script src="https://js.braintreegateway.com/web/3.6.3/js/client.min.js"></script>

  <!-- Load the Hosted Fields component. -->
  <script src="https://js.braintreegateway.com/web/3.6.3/js/hosted-fields.min.js"></script>

  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <%= csrf_meta_tag %>
</head>
<body>
  <div class="container"> 
  <nav class="navbar navbar-expand-lg navbar-light fixed-top border border-top-0 border-right-0 border-left-0 border-dark bg-white">
    <!-- Just an image -->
    <nav class="navbar navbar-light">
      <a class="navbar-brand pl-5" href="/">
        <%= image_tag 'airbnb.png', alt: 'AirBnb logo', height: 40, width: 40 %>
      </a>
    </nav>

  <div class="col-lg-6">
    <%= form_tag(listings_path, class: 'form-inline', :method => "get") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search a listing", class:'form-control col-lg-6'%>
      <%= submit_tag "Go", class:'btn btn-secondary', style:'display: inline;'%>
    <% end %>
  </div>

    <% if signed_in? %>
     <div class="collapse navbar-collapse col-md-4 ml-auto" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <%= link_to "Show All Listing", listings_path, class: "nav-link" %>
        </li>
        <li class="nav-item active">
          <%= link_to "Create New Listing", new_listing_path, class: "nav-link" %>    
        </li>
        <li class="nav-item active">
          <%= link_to t(".sign_Out"), sign_out_path, method: :delete, class: "nav-link" %>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="<%= user_path(current_user) %>">My Profile</a>
        </li>
      </ul>
    </div> 
    <% else %>
    <div class="collapse navbar-collapse col-md-4 ml-auto" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Discover Hosting</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="https://www.airbnb.com/help">Help</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="<%= sign_up_path %>">Sign Up</a>
        </li>
        <li class="nav-item active dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Log In
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "Log In with Facebook", "/auth/facebook", class: 'dropdown-item' %>
            <%= link_to "Log In with Google", "/auth/google_oauth2", class: 'dropdown-item' %></a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="<%= sign_in_path %>">More Login Options</a>
          </div>
        </li>
      </ul>
    </div>
    <% end %>
  </nav>
  </div> 

  <div class="content">
    <div id="flash">
    <% flash.each do |key, value| -%>
      <div id="flash_<%= key %>"><%=h value %></div>
    <% end %>
    </div>
    <%= yield %>
  </div>

  
</body>
</html>
